<div class="faq-section">
  <h1>The FAQ Section!</h1>
  <hr />
  <br /><br />
  <!-- TODO: Update FAQ answers with actual answers -->
  <!-- ---------- FAQ ---------- -->
  <div class="flexbox-container">
    <div class="flexbox-item flexbox-item-1">
      <h4>Question</h4>
      <h3>When should I RSVP by?</h3>
    </div>
    <div class="vertical"></div>
    <div class="flexbox-item flexbox-item-1">
      <h4>Answer</h4>
      <h5>No later than May 17, 2023 please!</h5>
    </div>
  </div>
  <br /><br /><br />
  <!-- ------------------------- -->
  <!-- ---------- FAQ ---------- -->
  <!-- TODO: come up with attire -->
  <div class="flexbox-container">
    <div class="flexbox-item flexbox-item-1">
      <h4>Question</h4>
      <h3>What should I wear?</h3>
    </div>
    <div class="vertical"></div>
    <div class="flexbox-item flexbox-item-1">
      <h4>Answer</h4>
      <h5>Semi-Formal:</h5>
      <h5>Ladies Example: Cocktail dress/gown</h5>
      <h5>Gentleman Example: Suit or a dress shirt with slacks</h5>
    </div>
  </div>
  <br /><br /><br />
  <!-- ------------------------- -->
  <!-- ---------- FAQ ---------- -->
  <div class="flexbox-container">
    <div class="flexbox-item flexbox-item-1">
      <h4>Question</h4>
      <h3>Are kids welcome?</h3>
    </div>
    <div class="vertical"></div>
    <div class="flexbox-item flexbox-item-1">
      <h4>Answer</h4>
      <h5>Ugh ... I guess.</h5>
    </div>
  </div>
  <br /><br /><br />
  <!-- ------------------------- -->
  <!-- ---------- FAQ ---------- -->
  <div class="flexbox-container">
    <div class="flexbox-item flexbox-item-1">
      <h4>Question</h4>
      <h3>Can I bring a plus one?</h3>
    </div>
    <div class="vertical"></div>
    <div class="flexbox-item flexbox-item-1">
      <h4>Answer</h4>
      <h5>
        You can bring a plus one! BUT if you are, please let us know ahead of
        time so we can make sure no one sits on the floor.
      </h5>
    </div>
  </div>
  <br /><br /><br />
  <!-- ------------------------- -->
  <!-- ---------- FAQ ---------- -->
  <div class="flexbox-container">
    <div class="flexbox-item flexbox-item-1">
      <h4>Question</h4>
      <h3>Are you registered? Where?</h3>
    </div>
    <div class="vertical"></div>
    <div class="flexbox-item flexbox-item-1">
      <h4>Answer</h4>
      <h5>
        Yes we are! You can view our registry at this link -
        <a href="https://withjoy.com/mgweddingregistry/registry" target="_blank"
          >Our Registry</a
        >
      </h5>
    </div>
  </div>
  <br /><br /><br />
  <!-- ------------------------- -->
  <!-- ---------- FAQ ---------- -->
  <div class="flexbox-container">
    <div class="flexbox-item flexbox-item-1">
      <h4>Question</h4>
      <h3>What time should I arrive at the ceremony?</h3>
    </div>
    <div class="vertical"></div>
    <div class="flexbox-item flexbox-item-1">
      <h4>Answer</h4>
      <h5>
        Please arrive 25-30 minutes before the ceremony, which begins at 5pm.
      </h5>
    </div>
  </div>
  <br /><br /><br />
  <!-- ------------------------- -->
  <!-- ---------- FAQ ---------- -->
  <div class="flexbox-container">
    <div class="flexbox-item flexbox-item-1">
      <h4>Question</h4>
      <h3>Where can I stay?</h3>
    </div>
    <div class="vertical"></div>
    <div class="flexbox-item flexbox-item-1">
      <h4>Answer</h4>
      <h5>
        We have reserved some rooms at the
        <a
          href="https://www.hilton.com/en/book/reservation/deeplink/?ctyhocn=ILMCCES&groupCode=CESSRD&arrivaldate=2023-06-16&departuredate=2023-06-18&cid=OM,WW,HILTONLINK,EN,DirectLink&fromId=HILTONLINKDIRECT"
          target="_blank"
          >Embassy Suites by Hilton</a
        >.
        <p>Other options include:</p>
        <ul>
          <li>
            <a
              href="https://www.bestwestern.com/en_US/book/hotel-rooms.34136.html"
              target="_blank"
              >Best Western</a
            >
          </li>
          <li>
            <a href="https://www.thehivewilmington.com" target="_blank"
              >The Hive</a
            >
          </li>
          <li>
            <a
              href="https://www.hilton.com/en/hotels/ilmdohx-hampton-wilmington-downtown/"
              target="_blank"
              >Hampton Inn Downtown</a
            >
          </li>
          <li>
            <a
              href="https://www.marriott.com/en-us/hotels/ilmwc-courtyard-wilmington-downtown-historic-district/overview/"
              target="_blank"
              >Courtyard</a
            >
          </li>
          <li>
            <a href="https://hotelballast.com" target="_blank">Hotel Ballast</a>
          </li>
        </ul>
      </h5>
    </div>
  </div>
  <br /><br /><br />
  <!-- ------------------------- -->
</div>
