<div class="faq-section">
  <h1>The FAQ Section!</h1>
  <hr />
  <br /><br />
  <!-- TODO: Update FAQ answers with actual answers -->
  <!-- ---------- FAQ ---------- -->
  <div class="flexbox-container">
    <div class="flexbox-item flexbox-item-1">
      <h4>Question</h4>
      <h3>When should I RSVP by?</h3>
    </div>
    <div class="vertical"></div>
    <div class="flexbox-item flexbox-item-1">
      <h4>Answer</h4>
      <h5>May 13, 2023 please!</h5>
    </div>
  </div>
  <br /><br /><br />
  <!-- ------------------------- -->
  <!-- ---------- FAQ ---------- -->
  <!-- TODO: come up with attire -->
  <div class="flexbox-container">
    <div class="flexbox-item flexbox-item-1">
      <h4>Question</h4>
      <h3>Is there a dress code?</h3>
    </div>
    <div class="vertical"></div>
    <div class="flexbox-item flexbox-item-1">
      <h4>Answer</h4>
      <h5>Semi-Formal:</h5>
      <h5>Ladies Example: A below-the-knee dress or a dressy skirt and top</h5>
      <h5>
        Gentleman Example: A dress shirt and slacks, dark or light depending on
        your preference, with the option to wear a tie.
      </h5>
    </div>
  </div>
  <br /><br /><br />
  <!-- ------------------------- -->
  <!-- ---------- FAQ ---------- -->
  <div class="flexbox-container">
    <div class="flexbox-item flexbox-item-1">
      <h4>Question</h4>
      <h3>Are kids welcome?</h3>
    </div>
    <div class="vertical"></div>
    <div class="flexbox-item flexbox-item-1">
      <h4>Answer</h4>
      <h5>Ugh ... I guess.</h5>
    </div>
  </div>
  <br /><br /><br />
  <!-- ------------------------- -->
  <!-- ---------- FAQ ---------- -->
  <div class="flexbox-container">
    <div class="flexbox-item flexbox-item-1">
      <h4>Question</h4>
      <h3>Can I bring a plus one?</h3>
    </div>
    <div class="vertical"></div>
    <div class="flexbox-item flexbox-item-1">
      <h4>Answer</h4>
      <h5>
        You can bring a plus one! BUT if you are, please let us know ahead of
        time so we can make sure no one sits on the floor.
      </h5>
    </div>
  </div>
  <br /><br /><br />
  <!-- ------------------------- -->
  <!-- ---------- FAQ ---------- -->
  <div class="flexbox-container">
    <div class="flexbox-item flexbox-item-1">
      <h4>Question</h4>
      <h3>Are you registered? Where?</h3>
    </div>
    <div class="vertical"></div>
    <div class="flexbox-item flexbox-item-1">
      <h4>Answer</h4>
      <h5>
        Yes we are! You can view our registry at this link -
        <a
          href="https://www.amazon.com/wedding/meghan-shipman-grant-risk--may-2023/registry/MIIAQW0SK95U"
          target="_blank"
          >Our Registry</a
        >
      </h5>
    </div>
  </div>
  <br /><br /><br />
  <!-- ------------------------- -->
  <!-- ---------- FAQ ---------- -->
  <div class="flexbox-container">
    <div class="flexbox-item flexbox-item-1">
      <h4>Question</h4>
      <h3>What time should I arrive at the ceremony?</h3>
    </div>
    <div class="vertical"></div>
    <div class="flexbox-item flexbox-item-1">
      <h4>Answer</h4>
      <h5>
        Please arrive 25-30 minutes before the ceremony. It'll be later in the
        day, so bring that positive spirit!
      </h5>
    </div>
  </div>
  <br /><br /><br />
  <!-- ------------------------- -->
</div>
