<div class="header">
  <a [routerLink]="['/']" class="logo">M&G</a>
  <div class="header-right">
    <!-- TODO: Figure out how to add active class -->
    <a routerLinkActive='active' [routerLink]="['/welcome']">Home</a>
    <a routerLinkActive='active' [routerLink]="['/photos'] ">Photos</a>
    <a routerLinkActive='active' [routerLink]="['/story']">Our Story</a>
    <a routerLinkActive='active' [routerLink]="['/faq']">FAQ</a>
    <a routerLinkActive='active' [routerLink]="['/rsvp']">RSVP</a>
  </div>
</div>
