<div class="photo-gallery-section">
  <h1>Our Gallery!</h1>
  <hr />
  <p>This is a photo dump 💩 of our favorite pictures ... you are welcome.</p>
</div>
<div class="photo-gallery-pictures">
  <img src="../../assets/photo-gallery/1.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/2.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/3.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/4.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/5.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/6.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/7.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/8.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/9.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/10.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/11.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/12.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/13.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/14.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/15.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/16.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/17.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/18.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/19.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/20.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/22.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/24.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/25.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/26.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/27.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/28.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/29.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/31.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/32.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/33.jpeg" loading="auto" alt="" />
  <img style="object-position: 100% 0;" src="../../assets/photo-gallery/34.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/35.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/36.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/37.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/38.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/39.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/41.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/42.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/43.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/44.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/45.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/46.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/47.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/48.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/50.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/51.jpeg" loading="auto" alt="" />
  <img src="../../assets/photo-gallery/52.jpeg" loading="auto" alt="" />
</div>
