<div class="wedding-pic-container">
  <div class="wedding-pic-content">
    <h1>Meghan & Grant</h1>
    <h2>June 17, 2023!</h2>
  </div>
</div>
<div class="welcome-section">
  <h2>Welcome!</h2>
  <hr />
  <p>
    👋 Hello friends and family! This is the destination for incredibly detailed
    stuff 🤷‍♂️🤷‍♀️ ... brought to you by Grant and Meghan's brains! 🧠
  </p>
  <p>
    If you're looking for information about the event, look no further! Keep
    scrolling and you will find all the details regarding our plans for the
    wedding.
  </p>
  <p>
    We will be doing RSVPs through this website. If you want to knock out the
    RSVP for us, go to the "RSVP" tab at the top and follow the instructions.
  </p>
  <p>Looking forward to seeing everyone soon!</p>
  <p class="pull-right">- Grant and Meghan 🫶</p>
  <br />
</div>
<div class="photo-gallery-pictures">
  <img src="../../assets/images/num1.jpeg" loading="auto" alt="" />
  <img src="../../assets/images/num2.jpeg" loading="auto" alt="" />
  <img
    style="object-position: 45% 50%"
    src="../../assets/images/num3.jpg"
    loading="auto"
    alt=""
  />
  <img
    style="object-position: 60% 50%"
    src="../../assets/images/num4.jpg"
    loading="auto"
    alt=""
  />
</div>
<div class="welcome-section-2">
  <h2>The Schedule 📅</h2>
  <hr />
  <br />
  <table>
    <tr>
      <th>Time</th>
      <th>Event</th>
    </tr>
    <tr>
      <td>5:00 - 5:30</td>
      <td>Ceremony</td>
    </tr>
    <tr>
      <td>5:30 - 6:30</td>
      <td>Cocktail Hour</td>
    </tr>
    <tr>
      <td>6:30 - 7:30</td>
      <td>Dinner</td>
    </tr>
    <tr>
      <td>7:30 - 11:00</td>
      <td>Party Time!</td>
    </tr>
  </table>
</div>
<div class="welcome-section-3">
  <h2>Useful Links 🔗</h2>
  <hr />
  <br />
  <a href="http://withjoy.com/mgweddingregistry/registry" target="_blank">
    <img
      src="../../assets/images/clipboard.png"
      loading="auto"
      alt="Checklist image"
    />
    <br />
    Click here to view the registry!
  </a>
  <br />
  <br />
  <br />
  <a
    href="https://www.hilton.com/en/book/reservation/deeplink/?ctyhocn=ILMCCES&groupCode=CESSRD&arrivaldate=2023-06-16&departuredate=2023-06-18&cid=OM,WW,HILTONLINK,EN,DirectLink&fromId=HILTONLINKDIRECT"
    target="_blank"
  >
    <img src="../../assets/images/room.png" loading="auto" alt="Room image" />
    <br />
    Book a room!
  </a>
</div>
