<div class="wedding-pic-container">
  <div class="wedding-pic-content">
    <h1>Meghan & Grant</h1>
    <h2>June 17, 2023!</h2>
  </div>
</div>
<div class="welcome-section">
  <h2>Welcome!</h2>
  <hr />
  <p>
    👋 Hello friends and family! This is the destination for incredibly
    detailed stuff 🤷‍♂️🤷‍♀️ ... brought to you by Grant and Meghan's brains!
    🧠
  </p>
  <p>
    If you're looking for information about the event, look no further!
    Please click the "Info" tab at the top for all the details regarding
    our plans for the wedding.
  </p>
  <p>
    We will be doing RSVPs through this website as well as menu options.
    If you want to knock out the RSVP for us, go to the "RSVP" tab at the
    top and follow the instructions.
  </p>
  <p>Looking forward to seeing everyone soon!</p>
  <p class="pull-right">- Grant and Meghan 🫶</p>
  <br />
</div>
