.flexbox-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexbox-item {
  width: fit-content;
  margin: 10px;
  padding: 10px;
}

.flexbox-item p {
  margin: 5px;
}

/* ---------- ATTENDING BUTTONS ---------- */

.name-flexbox-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.name-flexbox-item {
  width: fit-content;
  margin: 10px;
  padding: 10px;
}

.no-attend-button button {
  width: 200px;
  background-color: #94a787;
  opacity: .6;
  box-shadow: 1px 1px gray;
  color: white;
  padding: 14px 0;
  margin: 8px 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.attend-button button {
  background-color: #8ec668;
  box-shadow: 1px 1px gray;
  width: 200px;
  color: white;
  padding: 14px 0;
  margin: 8px 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button {
  width: 50%;
  background-color: #8ec668;
  color: white;
  padding: 14px 20px;
  margin: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #acd591;
}

@media only screen and (max-width: 768px) {
  .faq-section h1 {
    padding-top: 20%;
  }

  .flexbox-container {
    display: grid;
    justify-content: center;
    align-content: center;
  }

  .flexbox-item {
    align-items: center;
    width: auto;
    margin: 10px;
    padding: 10px;
  }

  .name-flexbox-container {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .name-flexbox-item {
    width: fit-content;
    margin: 10px;
    padding: 10px;
  }
}
